<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Perfil
    </ion-title>
  </ion-toolbar>
  <ion-back-button color="primary" class="save-button" defaultHref="/home" routerLink="/home" routerLinkActive="active-route">
  </ion-back-button>
</ion-header>

<ion-content >
<ion-avatar class="img">
  <img src="https://randomuser.me/api/portraits/women/83.jpg" defaultHref="/infosnutricionista" routerLink="/infosnutricionista"/>
</ion-avatar>

<ion-card>
  <ion-card-header>
    <ion-card-title>Sheila Nakamurav te enviou a seguinte mensagem:</ion-card-title>
    <ion-card-subtitle>Não esquece que amanhã é dia de pesagem</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Sheila Nakamurav te enviou a seguinte dieta:</ion-card-title>
    <ion-card-subtitle>Amanha você deve comer no maximo 1500 calorias, em breve você vai ter pesagem</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Sheila Nakamurav te enviou a seguinte dieta:</ion-card-title>
    <ion-card-subtitle>Por enquanto mantem da forma que conversamos, no máximo 2500 calorias por dia e evita gordura</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Sheila Nakamurav te enviou a seguinte receita:</ion-card-title>
    <ion-card-subtitle>Tem um aplicativo muito bom com varias receitas novas, procura na app store - Desbravando Receitas</ion-card-subtitle>
  </ion-card-header>
</ion-card>
