<!-- Desenvolvida pelo Nathan -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Suporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-back-button color="dark" class="save-button" defaultHref="/home" routerLink="/home" routerLinkActive="active-route">
  </ion-back-button>

  <ion-item>
    <ion-label>E-mail:</ion-label>
    <ion-input [(ngModel)]="Email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Telefone:</ion-label>
    <ion-input [(ngModel)]="Telefone"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label  position="start">Descreva seu problema:</ion-label>
    <ion-textarea  class="tamanho" [(ngModel)]="Problema"></ion-textarea>
  </ion-item>

  <ion-button size="block" class="cadastrar" routerLink="/tabs" routerLinkActive="active-route" (click)="enviarProblemas()">
    Enviar ticket
  </ion-button>

  <p class="SAC2">Projetinho</p>
  <p class="SAC">SAC: 4772-8922</p>

</ion-content>