<!-- Desenvolvido pelo Nathan -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Sua Nutricionista
    </ion-title>
  </ion-toolbar>
  <ion-back-button color="primary" class="save-button" defaultHref="/home" routerLink="/home" routerLinkActive="active-route">
  </ion-back-button>
</ion-header>

<ion-content >
<ion-avatar class="img">
  <img src="https://randomuser.me/api/portraits/women/83.jpg" />
</ion-avatar>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Nome completo</ion-card-subtitle>
    <ion-card-title>Sheila Nakamura</ion-card-title>
    <ion-card-subtitle>56 Anos, São Paulo</ion-card-subtitle>
    <ion-card-subtitle>Brasil</ion-card-subtitle>

  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Formações:</ion-card-subtitle>
    <ion-card-title>Nutricionista Especializada em Atletas de Alto Impacto</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Recomendações</ion-card-subtitle>
    <ion-card-subtitle>951</ion-card-subtitle>

    <ion-badge  color="primary" class="star">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-half"></ion-icon>
    </ion-badge>
  </ion-card-header>

</ion-card>