ion-content {
    --background: url('../../assets/img/loginBackground.png') no-repeat center fixed;
}

#logo-img{
    padding-bottom: 1%;
    padding-right: 5%;
}

#register-forms{
    background-color:azure;
}

#all-forms{
    margin-bottom: 50%;
    position:fixed;
}